BASE DE DATOS/practicahadagrupal/ClassLibrary/bin/Debug/ClassLibrary.dll
*.dll
BASE DE DATOS/practicahadagrupal/practicahadagrupal/obj/Debug/practicahadagrupal.dll
*.dll
BASE DE DATOS/practicahadagrupal/.vs/practicahadagrupal/v14/.suo
BASE DE DATOS/practicahadagrupal/practicahadagrupal/obj/Debug/*.cache
